header{
    gap: 0;
}

/*LOGO ADJUSTMENT*/
.extendedLogo{
    display: none;
}

.miniLogo{
    display: block;
}

.superiorHeader .logoContainer{
    justify-content: start;
}

.superiorHeader .logoContainer svg{
    width: 10rem;
    height: 5rem;
}

.superiorHeader .iconContainer-darkMode{
    left: calc(100% - 13rem);
    top: .1rem
}

.superiorHeader .iconContainer-darkMode i{
    font-size: 5rem;
}

/* header menu*/
.inferiorHeader nav{
    color: white;
    position: fixed;
    z-index: 100;
    background-color: #161616;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 4rem;
    overflow-y: auto;
    min-width: 28rem;
    visibility: hidden;
    transition: .4s;
    transition-property: right, visibility;
}

.inferiorHeader nav.active{
    right: 0;
    visibility: visible;
}

.inferiorHeader nav .menu{
    flex-direction: column;
    padding-top: 5rem;
}

.inferiorHeader nav .menu .menu-item{
    margin: 0;
}

.inferiorHeader nav .menu .menu-item > a{
    border:  none;
    border-radius: 1rem;
    padding: 2rem 1rem;
    text-align: start;
    width: 18rem;
    transition: all .3s;
    color: white;
}

.inferiorHeader nav .menu .menu-item > a:hover{
    background: #191919;
}

/*dropdown items*/

.menu-dropdown{
    opacity: 1;
    position: relative;
    top: 0;
    transform: translateX(0);
    overflow: hidden;
    display: none;
    background-color: #28292a;
}

.menu-dropdown:first-child{
    padding-top: 2rem;
}

.menu-item:hover .menu-dropdown{
    transform: translateX(0);
}

.dropdown-item-container{
    --focused-background-item: #f28c00;
    --focused-hover-background-item:#f26900;
    color: white;
}

.closeBtn{
    font-size: 5rem;
    position: absolute;
    top: 2rem;
    left: 3rem;
    cursor: pointer;
}

.menuBtn{
    display: block;
    font-size: 6rem;
    color: var(--text-color);
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    cursor: pointer;
    border-radius: 100%;
}

.menuBtn:hover{
    background-color: var(--icon-background-hover);
}