:root{
    --transparent: rgba(0, 0, 0, 0);
    --body-color: white;
    --card-background: #f0f1f4;
    --card-background-hover: #c2e7ff;
    --focused-background-item: #fab907;
    --focused-hover-background-item:#fae607;
    --icon-background-hover: rgba(68, 71, 70, .08);

    --text-color: #1f1f1f;
    --subtext-color: #1f1f1f;

    --logoColor : #061440;
    --focus-color : #f28c00;

    /*Font size*/

    --tittle-font-size : 3rem;
}
/* ===================Dark Mode variables=================== */

.darkMode{
    --body-color: #1f1f1f;
    --card-background: #28292a;
    --card-background-hover: #004a77;
    --focused-background-item: #f28c00;
    --focused-hover-background-item:#f26900;
    --icon-background-hover: rgba(196, 199, 197, .12);

    --text-color: #e3e3e3;
    --subtext-color: #c4c7c5;

    --logoColor : #f28c00;
}

/* ===================general elements=================== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--body-color);
}

img{
    width: 100%;
}

li{
    list-style: none;
}

button{
    background-color: var(--transparent);
    border: none;
}

a{
    text-decoration: none;
}

main{
    max-width: 150rem;
    margin: 0 auto;
    background-color: var(--body-color);
}

/* ==========================header======================= */

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 98;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--body-color);
}

.navText{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.5rem;
}

/* ===========superior part=========== */

.superiorHeader{
    position: relative;
}

.superiorHeader .logoContainer{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.superiorHeader .logoContainer svg{
    width:23rem;
    height:4rem;
    transition: all .3s;
}

.superiorHeader .logoContainer svg * {
    fill: var(--logoColor);
    transition: all .3s;
}

.superiorHeader .logoContainer svg:hover{
    transform:scale(1.1);
}
.superiorHeader .logoContainer svg:hover *{
    fill: var(--focus-color);
}

.miniLogo{
    display: none;
}

.menuBtn{
    display: none;
}

.superiorHeader .iconContainer-darkMode{
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    border-radius: 100%;
    bottom: .5rem;
    left: calc(100% - 6rem);
    transition: all .2s;
}

.superiorHeader .iconContainer-darkMode i{
    font-size: 4rem;
    color: var(--focus-color);
    transition: all .2s;
}

.superiorHeader .iconContainer-darkMode:hover{
    background-color: var(--icon-background-hover);
    i{
        color: var(--logoColor);
    }
}


/* ===========inferior part=========== */

.inferiorHeader nav{
    display: flex;
    justify-content: center;
}

.inferiorHeader nav .menu{
    display: flex;
}

.inferiorHeader nav .menu .menu-item{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inferiorHeader nav .menu .menu-item > a{
    border:  0.2rem solid var(--text-color);
    border-radius: 2rem;
    padding: .5rem 1rem;
    text-align: center;
    min-width: 10rem;
    transition: all .3s;
}

.inferiorHeader nav .menu .menu-item > a:hover{
    color: var(--focus-color);
    border-color: var(--focus-color);
}

.menu-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    border-radius: 1rem;
    background-color: var(--card-background);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transform: translateY(2rem);
    transition: .2s;
    transition-property: transform, opacity;
    z-index: 100;
    box-shadow: 4px 14px 38px -24px rgba(0,0,0,0.729);
    -webkit-box-shadow: 4px 14px 38px -24px rgba(0, 0, 0, 0.729);
    -moz-box-shadow: 4px 14px 38px -24px rgba(0,0,0,0.729);
}

.menu-item:hover .menu-dropdown{
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.menu-dropdown .menu-dropdown-item {
    padding: 1.5rem;
}

.menu-dropdown .menu-dropdown-item:first-child{
    padding-bottom: 0;
}

.menu-dropdown .menu-dropdown-item:last-child{
    padding-top: 0;
}

.menu-dropdown:has(.menu-dropdown-item:nth-child(2)){
    .menu-dropdown-item:first-child{
        padding-bottom: 1.5rem;
    }
}

.menu-dropdown-item > a{
    font-weight: 700;
}

.menu-dropdown-item > a .dropdown-item-container{
    padding: 1rem;
    height: 10rem;
    width: 15rem;
    overflow: hidden;
    background-color: var(--focused-background-item);
    border-radius: 1rem;
    position: relative;
    transition: all .3s;
}

.menu-dropdown-item > a .dropdown-item-container:hover{
    transform: scale(1.05);
    background-color: var(--focused-hover-background-item);
}

.dropdown-item-container .dropdown-item-containerImg{
    position: absolute;
    width: 14rem;
    left: calc(100% - 12rem);
}


/*======================slider1======================*/
main{
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 160rem;
}

/* ==========================Banner section======================= */
.slider-container ul{
    padding:0;
    list-style: none;
    &:after{
      content:"";
      display:block;
      clear:both;
    }
}
#container{
    width: 100%;
}

#slider-container{
    width:100%;
    position:relative;
    overflow:hidden;
    ul{
        li{
            float:left;
            img{
                width:100%;
                float:left;
            }
        }
    }
    .arrow{
        display:block;
        position:absolute;
        top:50%;
        width:5rem;
        height:5rem;
        transform:translateY(-50%) scale(1); 
        cursor:pointer;
        &:before,
        &:after{
            content:"";
            display:block;
            width:3.4rem;
            height:0.1rem;
            position:absolute;
            background:white;
            border-top:0.1rem solid grey;
        }
    }
    .arrow.a-left{
      left:1.5rem;
      &:before{
        top:0;
        left:0;
        margin-top:0;
        transform:rotate(-45deg);
        transform-origin: 100% 0;
      }
      &:after{
        bottom:0;
        left:0;
        margin-bottom:0;
        transform:rotate(45deg);
        transform-origin: 100% 0;
      }
    }
    .arrow.a-right{
      right:1.5rem;
       &:before{
        top:0;
        right:0;
        margin-top:0;
        transform:rotate(45deg);
        transform-origin: 0 0;
      }
      &:after{
        bottom:0;
        right:0;
        margin-bottom:0;
        transform:rotate(-45deg);
        transform-origin: 0 0;
      }
    }
    .bullets-container{
      position:absolute;
      bottom:5%;
      left:50%;
      transform: translateX(-50%);
      .bullet{
        width:1.5rem;
        height:1.5rem;
        display:inline-block;
        border-radius:50%;
        border:0.1rem solid grey;
        cursor:pointer;
        margin:0 0.8rem;
        &.active{
          background:grey;
        }
      }
    }
  }

/* ==========================Banner section======================= */
.dealContainer{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dealContainer h2{
    color: var(--subtext-color);
    font-size: var(--tittle-font-size);
    text-align: center;
}

.dealContainer ul{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    padding: 2rem;
}

.dealContainer ul li img{
    transition: all 0.3s;
}

.dealContainer ul li img:hover{
    transform: translateY(-0.5rem);
    border: 0.3rem solid var(--focus-color);
    box-shadow: -1px 13px 25px -11px rgba(0,0,0,0.75);
}
